main {
    background: url("img/main.png") no-repeat;
    background-size: cover;
    background-position-x: center;
    color: white;
}
ul {
    padding: 0;
}
.main-title {
    font-size: 52px;
    max-width: 100%;
}
.background-shadow {
    padding-top: 97px;
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    padding-bottom: 72px;
}
.main-text {
    font-size: 36px;
    max-width: 670px;
    font-weight: 500;
    margin-top: 41px;
}
.main-features {
    margin-top: 97px;
}
.main-features  ul {
    display: flex;
    justify-content: space-between;
}
.feature-element {
    display: flex;
    gap: 15px;
    font-size: 24px;
}
.feature-element > div {
    display: flex;
    flex-direction: column;
}
@media (max-width: 900px) {
    .main-title, .main-text {
        padding-left: 40px;
    }
    .main-title {
        font-size: 39px;
        max-width: 80%;
    }
    .main-text {
        font-size: 26px;
        max-width: 70%;
    }
    .feature-element {
        font-size: 16px;
    }
    .callback-wrapper {
        margin-left: 10%    ;
    }
}
@media (max-width: 732px) {
    .main-features ul {
        flex-direction: column;
    }
    .main-features {
        display: flex;
        justify-content: center;
    }
    .feature-element {
        align-items: center;
        font-size: 20px;

    }
    .feature-element > div {
        flex-direction: row;
        gap: 5px;

    }
}
@media (max-width: 630px) {
 .main-title {
     font-size: 20px;
 }
 .main-text {
     font-size: 16px;
     max-width: 90%;
 }
 .main-features {
     margin-top: 20px;
 }
 .callback-line {
     width: 80%;
 }
 .callback-item > div {
     font-size: 16px !important;
 }
 .callback-title {
     font-size: 24px !important;
 }
}
@media (max-width: 550px) {
    .feature-element > div {
        flex-direction: column;
        gap: 0;
    }
    .main-features ul {
        gap: 20px;
        justify-content: center;

    }

}
.nav-btn-link {
    display: flex;
    margin-left: 74px;
    margin-right: 40px;
}
@media (max-width: 530px) {
    .global-block {
        padding-top: 225px !important;
    }
}
@media (max-width: 436px) {
    .global-block {
        padding-top: 152px !important;
    }
    iframe {
        height: 200px;
    }
}
@media (max-width: 420px) {
    .main-title {
        max-width: 80%;
    }
    .main-text {
        max-width: 80%;
    }
    .feature-element {
        font-size: 16px;
    }
    .nav ul {
        gap: 1vw;
    }

}
.global-block {
    padding-top: 95px;
}
.wrapper-img-card {
    height: 140px;
    width: 230px;
}
.card-item {
    border: 5px solid #FBB400;
    width: 230px;
    padding: 30px 18px;
    border-radius: 15px;
}
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
}
.types-cars {
    padding-top: 70px;
}
.card-item p {
    max-width: 100%;
    font-size: 15px;
}
.card-item h3 {
    font-size: 24px;
    font-weight: 600;
}
.types-title {
    font-size: 30px;
    text-align: center;
}
iframe {
    display: block;
    margin: 40px auto;
    width: 100%;
}
.callback-item a {
    color: black;
}
.phone-wrapper {
    display: flex;
    gap: 5px;
}
.number-card {
    color: #FBB401;
    font-size: 42px;
    font-weight: 900;
    margin-right: 18px;
}
.specials-block {
    display: flex;
    gap: 60px;
}
.special-cards {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 41px

}
.specials-block {
    justify-content: space-between;
}
.special-card {
    box-shadow: -2px -2px 15px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    max-width: 370px;
    display: flex;
    padding: 15px;
}
.special-card {
    display: flex;
}
.card-text b {
    font-size: 24px;
}
.card-text p {
    max-width: 295px;
}
.special-present {
    background: url("img/present_image.png") no-repeat;
    height: 650px;
    max-width: 559px;
}
.title-special {
    font-size: 30px;
    width: 530px;
}
@media (max-width: 905px) {
    .special-cards {
        width: 500px;
        margin: 0 auto;
    }
    .special-card {
        max-width: 95%;
        gap: 20px;
    }
    .special-present {
        background: inherit;
        height: unset;
        max-width: 100%
    }
    .specials-block {
        flex-direction: column-reverse;
    }
    .title-special {
        width: 100%;
        font-size: 26px;
        text-align: center;
    }

}
@media (max-width: 530px) {
    .background-shadow {
        padding-top: 30px;
    }
    .special-cards {
        width: 90%;
    }
    .card-text b {
        font-size: 20px;
    }
    .card-text p {
        max-width: 100%;
        font-size: 14px;
    }
    .number-card {
        font-size: 32px;
    }
}
@media (max-width: 385px) {
    .callback-wrapper {
        margin-left: 20px;
    }
    .phone-wrapper {
        flex-direction: column;
        gap: 10px;
    }
    .phone-wrapper span {
        display: none;
    }
    .callback-item > div {
        gap: 15px !important;
    }
}
.callback-wrapper {
    max-width: 540px;
}
.callback-title {
    font-size: 30px;
}
.callback-item {
    display: flex;
}
.callback-block {
    margin-top: 25px;
    margin-bottom: 93px;
}
.callback-item > div {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    gap: 3px;
    font-size: 21px;
}
.callback-item b {
    margin-left: 10px;
}
.callback-item > div > span {
    margin-bottom: 3px;
}
hr {
    border: 1px solid #C4C4C4;;
    margin: 27px 0;
    max-width: 100%;

}
